/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/**
 * Add New Event Page
 */
#event-info label:not(.radiolabel) {
    position: relative;
    display: block;
    padding-top: 0.5em;
    margin-bottom: 1.5em;
}

#event-info label input {
    position: absolute;
    left: 120px;
    top: 0;
}

/**
 * All events page
 */
.wp-list-table .column-name {
    width: 15%;
}
.wp-list-table .column-description {
    width: 22%;
}
.wp-list-table .column-date {
    width: 15%;
}
.wp-list-table .column-organizer {
    width: 12%;
}
.wp-list-table .column-open_to_registration,
.wp-list-table .column-cancelled{
    width: 8%;
}

